QWidget{
    font-family: Calibri;
}

QPushButton{
    color: #fff;
    background-color: #00aaa6;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

QPushButton:hover{
    background-color: #666666;
}

#Form{
    background-color: #f6f6f6;
}

#loginLayout{
    border-radius: 10px;
    background-color: white;
}

#loginSection {
    background-color: #666666;
}

.QLineEdit{
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

#menu{
    background-color: #666666;
}

#menu .QPushButton{
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
}

#menu .QPushButton:hover{
    background-color: #00aaa6;
}

/* Custom button styling */
#resultBtnBig, #metingBtnBig{
    background-color: #00aaa6;
    border-radius: 10px;
}

#resultText, #metingText{
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    padding: 0;
}

#resultLabel, #metingLabel{
    font-weight: bold;
}

#resultBtnBig:hover, #metingBtnBig:hover{
    background-color: #f49a3f;
}